Flask-Cors==5.0.0
cdsapi
filelock
folium
geoalchemy2
geojson
geopandas
h5netcdf
matplotlib
movingpandas
netcdf4
numpy==1.24.0
osmnx
psycopg2-binary
pygeoapi
python-dotenv
pyyaml
rasterio
rioxarray
s3fs
scikit-learn
seaborn
shapely
shyaml
sqlalchemy
tifffile
transformations
xarray==2024.1.0
zarr
git+https://github.com/52North/OpenSenseMapToolbox.git#egg=opensensemaptoolbox
