cdsapi
filelock
Flask-Cors==5.0.0
folium
geoalchemy2
geojson
geopandas
h5netcdf
matplotlib
netcdf4
numpy==1.24.0
osmnx
psycopg2-binary
pygeoapi
python-dotenv
rasterio
rioxarray
s3fs
scikit-learn
seaborn
shapely
shyaml
sqlalchemy
tifffile
xarray==2024.1.0
zarr